In [1]:
#importing the labraries
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [2]:
# Reading the dataset
dataset = pd.read_csv('50_Startups.csv')

In [3]:
#displaying the top 5 rows of dataset
dataset.head()

   R&D Spend  Administration  Marketing Spend       State     Profit
0  165349.20       136897.80        471784.10    New York  192261.83
1  162597.70       151377.59        443898.53  California  191792.06
2  153441.51       101145.55        407934.54     Florida  191050.39
3  144372.41       118671.85        383199.62    New York  182901.99
4  142107.34        91391.77        366168.42     Florida  166187.94

In [5]:
#selecting the features as in X all indepenent features and in Y dependent feature 
X = dataset.iloc[:,:-1]
Y = dataset.iloc[:,4]

In [11]:
#performing the one hot encoding techniques on the state column to convert that into numerical values by function get_dummies
States = pd.get_dummies(X['State'],drop_first = True)

In [13]:
#displaying the values as of the state column after one hot encoding
print(States.head())

   Florida  New York
0        0         1
1        0         0
2        1         0
3        0         1
4        1         0

In [14]:
#dropping the state column as we don't need that now beacause we converted that into numerical and stored into States
X=X.drop('State',axis = 1)

In [16]:
#Concatinating states with with X
X =pd.concat([X,States],axis=1)

In [18]:
# Splitting the dataset into the Training set and Test set
from sklearn.model_selection import train_test_split
X_train,X_test,Y_train,Y_test = train_test_split(X,Y,test_size = 0.2,random_state = 0)

In [19]:
## Fitting Multiple Linear Regression to the Training set
from sklearn.linear_model import LinearRegression
regressor = LinearRegression()
regressor.fit(X_train,Y_train)

LinearRegression()

In [21]:
## Predicting the Test set results
Y_pred = regressor.predict(X_test)

In [23]:
#Displaying the predicted values and test values
print(Y_pred)

[103015.20159796 132582.27760816 132447.73845174  71976.09851258
 178537.48221055 116161.24230165  67851.69209676  98791.73374687
 113969.43533012 167921.0656955 ]

In [27]:
print(Y_test)

28    103282.38
11    144259.40
10    146121.95
41     77798.83
2     191050.39
27    105008.31
38     81229.06
31     97483.56
22    110352.25
4     166187.94
Name: Profit, dtype: float64

In [25]:
#calculating the Accuracy using R^2 as R^2 formula is =1 - (SSRes/SSTotal) ==>SSTotal will be always greater than SSRes then only we get values near to 1
from sklearn.metrics import r2_score
score=r2_score(Y_test,Y_pred)

In [26]:
#Displaying our Accuracy Which is quite Good
print(score)

0.9347068473282423